//@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,400italic,400);

@font-face {
    font-family: 'texgyrescholaregular';
    src: url('font/texgyreschola-regular-webfont.eot');
    src: url('font/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyreschola-regular-webfont.woff') format('woff'),
         url('font/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('font/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyrescholabold_italic';
    src: url('font/texgyreschola-bolditalic-webfont.eot');
    src: url('font/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('font/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('font/texgyreschola-bolditalic-webfont.svg#texgyrescholabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyrescholaitalic';
    src: url('font/texgyreschola-italic-webfont.eot');
    src: url('font/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyreschola-italic-webfont.woff') format('woff'),
         url('font/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('font/texgyreschola-italic-webfont.svg#texgyrescholaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin sentinal-med-it {
	font-family: 'texgyrescholabold_italic', serif;
	font-weight: 400;
	line-height: 1.1em;
}
@mixin sentinal-book-it {
	font-family: 'texgyrescholaitalic', serif;
	font-weight: 400;
	 line-height: 1.1em;
}
@mixin sentinal-book {
	font-family: 'texgyrescholaregular', serif;
	font-weight: 400;
	line-height: 1.1em;
}
.sentinal-book { @include sentinal-book; }
.sentinal-book-it { @include sentinal-book-it; }
.sentinal-med-it { @include sentinal-med-it; }


@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@mixin franklin-gothic-hvy {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
@mixin franklin-gothic-book {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.franklin-gothic-hvy { @include franklin-gothic-hvy; }
.franklin-gothic-book { @include franklin-gothic-book; }