/*
PUT VARIABLES AND MIXINS IN THIS FILE. IT IS IMPORTED INTO THE EDITOR AND THE FRONTEND
*/

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: $argument;
	-ms-#{$name}: $argument;
	-moz-#{$name}: $argument;
	-o-#{$name}: $argument;
	#{$name}: $argument;
}

@mixin transition ($transition) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin transition-transform ($vals) {
	-webkit-transition: -webkit-transform $vals;
	-moz-transition: -moz-transform $vals;
	-o-transition: -o-transform $vals;
	transition: transform $vals;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin inline-flexbox() {
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

@mixin justify-content($val) {
	@include vendor-prefix(justify-content, $val);
	-ms-flex-pack: $val;
}

@mixin align-items($val) {
	@include vendor-prefix(align-items, $val);
	-ms-flex-align: $val;
}

@mixin flex ($vals) {
	@include vendor-prefix(flex, $vals);
}

@mixin flex-wrap($val) {
	@include vendor-prefix(flex-wrap, $val);
}
@mixin order($val) {
	@include vendor-prefix(order, $val);
	-ms-flex-order: $val;
}


@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}


@mixin h1 {
	@include franklin-gothic-hvy;
	color: $gold;
	margin-top: 0;
	font-size: 36px;

	@media (min-width: 768px){
		font-size: 40px;
	}
	@media (min-width: 992px){
		font-size: 50px;
	}
	@media (min-width: 1200px){
	 	font-size: 60px;
	}
}

@mixin h2 {
	@include sentinal-book-it;
	text-transform: uppercase;
	color: $blue;
	margin: 0;
	padding-bottom: .5em;
	font-size: 22px;

	@media (min-width: 768px){
		font-size: 28px;
	}
	@media (min-width: 992px){
		font-size: 32px;
	}
	@media (min-width: 1200px){
		font-size: 38px;
	}

	&.ruled {
		border-bottom: 2px solid $ltgray;
	}
}

@mixin h3 {
	@include franklin-gothic-hvy;
	color: $gold;
	text-transform: uppercase;
	font-size: 18px;
	margin: 1em  0 0.5em 0;

	@media (min-width: 768px){
		font-size: 20px;
	}
	@media (min-width: 992px){
		font-size: 22px;
	}
	@media (min-width: 1200px){
		font-size: 24px;
	}
}

@mixin h4 {
	@include sentinal-book;
	color: $blue;	
	margin: 0;
	padding: 0 0 0.625em;
	font-size: 20px;

	@media (min-width: 768px){
		font-size: 18px;
	}
	@media (min-width: 992px){
		font-size: 22px;
	}
	@media (min-width: 1200px){
		font-size: 24px;
	}
}

@mixin h5 {
	@include franklin-gothic-hvy;
	color: $text;
	font-size: 16px;
	margin-top: 0;

	@media (min-width: 768px){
		font-size: 16px;
	}
	@media (min-width: 992px){
		font-size: 16px;
	}
	@media (min-width: 1200px){
		font-size: 16px;
	}
}

@mixin h6 {
	@include h2;
	font-size: 18px;

	@media (min-width: 768px){
		font-size: 21px;
	}
	@media (min-width: 992px){
		font-size: 24px;
	}
	@media (min-width: 1200px){
		font-size: 26px;
	}

}

@mixin wrap16x9 {
	position: relative;
	overflow: hidden;
	height: 0;
	width: 100%;
	padding-bottom: 56.25%;

	> IMG {
		display: block;
		width: auto;
		min-width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	> IFRAME {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 0 none;
	}

	> A {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
}
.wrap16x9 { @include wrap16x9; }

.wrap-square {
	@include wrap16x9;
	padding-bottom: 100%;
}

@mixin table-display {
	display: table !important;
	width: 100%;
	height: 100%;

	> * {
		display: table-row !important;
		float: none;

		> * {
			display: table-cell !important;
			float: none;
			vertical-align: middle;
		}
	}
}
.table-display { @include table-display; }

@mixin clearfix {
	&::after, &::before {
		content: " ";
			display: table;
	}

	&::after {
		clear: both;
	}
}


$blue: #0d2c6c;
$gold: #fdb913;
$ltblue: #3c9cd7;
$mdblue: #00529b;
$transblue: rgba(12,90,125,0.85);
$text: #1d1817;
$ltgray: #e6e5e6;
$dkgray: #817c80;
$transblue: rgba(7,50,128,0.85);

