@import "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "fonts";
@import "mixins";


HTML, BODY {
	@include franklin-gothic-book;
	font-size: 16px;
	color: $text;
	background-color: $blue;
	-webkit-font-smoothing: antialiased;

	@media (min-width: 768px){
		font-size: 14px;
	}
	@media (min-width: 992px){
		font-size: 16px;
	}
}

BODY {
	H1, .h1 { @include h1; }
	H2, .h2 { @include h2; }
	H3, .h3 { @include h3; }
	H4, .h4 { @include h4; }
	H5, .h5 { @include h5; }

	.container-fluid {
		max-width: 600px;

		@media (min-width: 768px){
			max-width: 1140px;
		}

		&.constrained {
			@media (min-width: 768px){
				max-width: 750px;
			}
		}
	}

	.btn {
		white-space: normal;
	}

	MAIN {
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 30px;

		P {
			padding: 0 0 1.5em;
			margin: 0;
			line-height: 1.7em;

			&.tight {
				line-height: 1.3em;
			}
		}

		A {
			color: $ltblue;
			text-decoration: underline;

			&:hover, &:focus {
				color: $gold;
			}
		}

		UL {
			margin-bottom: 1.5em;
		}

		FIGURE {
			> *:first-child {
				display: block;
				margin-bottom: 15px;
			}

			> IMG {
				max-width: 100%;
			}

			FIGCAPTION {
					@include sentinal-book;
					font-size: 12px;
					color: $ltblue;
					padding-bottom: 30px;

					@media (min-width: 768px){
						font-size: 13px;
					}
					@media (min-width: 992px){
						font-size: 14px;
					}
				}
		}

		.pagination {
			> LI {
				> A, > SPAN {
					border: 0 none;
					@include sentinal-book;
					color: $ltblue;
				}
			}
		}

		> SECTION {
			margin-bottom: 40px;

			@media (min-width: 768px){
				margin-bottom: 60px;
			}
			@media (min-width: 992px){
				margin-bottom: 70px;
			}
			@media (min-width: 1200px){
				margin-bottom: 80px;
			}

			&:first-child:not(#breadcrumb) {
				margin-top: -20px;
			}

			&.bottom-ruled, .bottom-ruled {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					display: block;
					margin: auto;
					width: 100%;
					max-width: 1200px;
					left: 0;
					right: 0;
					bottom: -20px;
					height: 2px;
					background-color: $ltgray;
				}

				@media (min-width: 768px){
					&::after { bottom: -30px; }
				}
				@media (min-width: 992px){
					&::after { bottom: -35px; }
				}
				@media (min-width: 1200px){
					&::after { bottom: -40px; }
				}
			}

			&.top-ruled, .top-ruled {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					display: block;
					margin: auto;
					max-width: 1200px;
					width: 100%;
					left: 0;
					right: 0;
					top: -20px;
					height: 2px;
					background-color: $ltgray;
				}

				@media (min-width: 768px){
					&::after { top: -30px; }
				}
				@media (min-width: 992px){
					&::after { top: -35px; }
				}
				@media (min-width: 1200px){
					&::after { top: -40px; }
				}
			}

			&.simple-intro {
				margin-top: 40px !important;
				text-align: center;
			}
		}

		HR {
			border-top: 2px solid $ltgray;
			margin-bottom: 40px;
			margin-top: 10px;
		}

		NAV {
			text-align: center;

			.pagination {
				text-align: center;
				padding: 40px 0 0 0;
				margin: 0;
			}
		}
	}

	.blue-bg {
		background-color: $blue;

		> *, H2 {
			color: #fff;
		}

		H5,.h5 {
			color: $ltblue;
		}
	}

	.img-responsive {
		display: inline-block;
	}

}
/*BEN*/
.modal-header {
	border-bottom: none;
	min-height: 35px;
	padding: 0;
}
/*BEN*/

@import "includes";
