#areas-to-support-carousel {
	

	&.carousel {

		.carousel-control {
			text-shadow: none;
			opacity: 1;
			color: $gold;
			background: 0 none;

			@media (min-width: 768px){
				display: none;
			}

			.glyphicon-chevron-left { left: 5px; }
			.glyphicon-chevron-right { right: 5px; }
		}

		.indicators-wrapper {
			padding: 40px 0 0 0;
			position: relative;

			.container-fluid {
				position: relative;
				overflow: hidden;

				@media (max-width: 767px){
					max-width: 85%;
				}

				> .row {

					@media (min-width: 768px){
						@include table-display;
						margin-left: 0; /*BEN*/
						margin-right: 0; /*BEN*/
					}
				}
				
				.carousel-indicators {
					position: static;
					width: auto;
					margin: 0;
					padding: 0;

					> LI {
						text-indent: 0;
						width: 100%;
						height: auto;
						margin: auto;
						border: 0 none;
						background-color: transparent;
						padding-bottom: 30px;
						vertical-align: top;

						@media (max-width: 767px){
							//@include vendor_prefix(transform, translateX(100%));
							opacity: 0;
							@include vendor_prefix(transition, all 400ms ease-out);
							position: absolute;
							top: 0;
							left: 0;

							&.active {
								//@include vendor_prefix(transform, translateX(0%));
								//left: 0;
								opacity: 1;
								position: relative;
								z-index: 2;
							}
						}

						@media (min-width: 768px){
							width: 33.333333333%;
							
							&.active {
								&::after {
									content: '';
									position: absolute;
									top: auto;
									bottom: -1px;
									z-index: 20;
									height: 0;
									width: 0;
									border: 24px solid transparent;
									border-bottom-color: #fff;
									left: 50%;
									margin-left: -24px;
								}
							}
						}

						.wrap16x9 {
							margin-bottom: 30px;
						}
					
						.btn {
							max-width: 212px;
						}
						
					}
				}

			}
		}

		.carousel-inner {
			.item {

				.row {
					padding-bottom: 40px;
					border-bottom: 2px solid $ltgray;
					margin-bottom: 40px;
					@include vendor-prefix(transition, opacity 0.4s linear);

					&:first-child { 
						padding-top: 60px;
					}
					

					H3 {
						@include h1;
						@media (min-width: 768px){
							font-size: 36px;
						}
						@media (min-width: 992px){
							font-size: 42px;
						}
						@media (min-width: 1200px){
							font-size: 42px;
						}
					}

					P {
						line-height: 1.4em;
					}

					UL {
						list-style-type: none;
						padding: 0;

						LI {
							padding-top: 0.5em;

							A {
								line-height: 1.3em;
								display: inline-block;
							}
						}
					}

					/*BEN*/

					.col-sm-3 {

						.short {

							@media (min-width: 768px){
								padding-right: 10px;
							}
						}
					}

					/*BEN*/
				}



				&.active.left, &.active.right {
					.row {
						//margin-left: 0;
						opacity: 0;
					}
				}

				&.next, &.prev {
					.row {
						//margin-right: 0;
						opacity: 1;
					}
				}

			}

		}

	}

		
}