#breadcrumb {
	margin-bottom: 0 !important;
	
	OL.breadcrumb {
		background-color: transparent;
		border-radius: 0;
		border: 0 none;
		text-align: center;
		margin: -5px 0 40px 0;
		padding: 0 0 12px 0;
		border-bottom: 2px solid #e6e5e6;


		> LI, LI > A {
			@include franklin-gothic-hvy;
			color: $ltblue;
			font-size: 12px;

			@media (min-width: 768px){
				font-size: 14px;
			}
			@media (min-width: 992px){
				font-size: 16px;
			}


			> A {
				color: $gold;
				text-decoration: underline;

				&:hover, &:focus {
					color: $ltblue;
				}
			}
		}

	}
}