.btn {

	border: 3px solid $gold;
	background-color: transparent;
	color: $ltblue;
	border-radius: 0;
	padding: 0.4em 0.85em;
	text-transform: uppercase;
	@include franklin-gothic-hvy;
	text-decoration: none;

	&:hover, &:focus {
		//border-color: $ltblue;
		color: $blue;
		background-color: $gold;
	}

	@media (min-width: 992px){
		font-size: 16px;
	}

	.blue-bg & {
		color: #fff;

		&:hover, &:focus {
			color: $blue;
		}
	}
}