.campaign-progress {
	//border-top: 2px solid $ltgray;

	.h2 {
		  padding: 1.75em 0 1em 0;;
	}

	.left-side {
		width: 80%; 
		float: left;
		@include franklin-gothic-hvy;
		font-size: 14px;
	}

	.right-side {
		width: 20%; 
		font-size: 12px;
		padding-left: 1em;
		line-height: 1.1em;
		float: left;
		padding-top: 0;
		margin-top: -7px;
		@include franklin-gothic-hvy;

		@media (min-width: 382px){
			margin-top: -3px;
		}
		@media (min-width: 482px){
			padding-top: 5px;
			margin-top: 0;
		}
		@media (min-width: 768px){
			font-size: 14px;
		}
		@media (min-width: 992px){
			padding-top: 1px;
			font-size: 16px;
		}

		> DIV {
			text-transform: uppercase;

			&:first-child {
				//margin-top: -3px;
				color: #409acf;
			}

			&:last-child {
				//margin-top:-2px;
				color:#fab819;
			}
		}
	}

		

	/*
		vertical divider lines more than percent raised
	*/
	.vertical_line{
		
		position:absolute;
		height:50%; 
		margin-top:9px;
		width:1px;
		background:#cbc9ca; 
		display:none;
		opacity: 0.50;
		z-index:100;
		}
		
	/*
		vertical divider lines less than percent raised
	*/
	.vertical_line_lite{
		
		position:absolute;
		height:50%; 
		margin-top:9px;
		width:1px;
		background:#f2d794; 
		display:none;
		opacity: 0.75;
		z-index:100;
		}	

	.progress-canvas{
		position:relative;
		width:100%;
		height:36px;
		margin-bottom:100px;

	}
	#funder{
		position:relative;
		width:100%;
		height:36px;
		margin-bottom:100px;
	}
	.indicator_curValue{
		position:absolute;
		left:0;
		display:inline-block;
		width:0%;
		height:36px;
		background-color:#f9b900;
		opacity: 1;
		margin:0px;
		padding:0px;
		z-index:2;
	}

	.indicator_counter{
		position:absolute;
		left:0px;
		display:none;
		height:42px;
		width:170px;
		z-index:3;
	}

	.counter-graphic-left{

		background-image: url("../img/counter-bg-sprite.png");
		background-repeat: no-repeat;
	    	background-position: 0 0;

	}

	.counter-graphic-center {
		position:absolute;
		left:0px;
		display:none;
		height:42px;
		width:170px;
		background-image: url("../img/counter-bg-sprite.png");
		background-repeat: no-repeat;
	    	background-position: 50% 0;
		z-index:3;
	}

	.counter-graphic-right{
		
		background-image: url("../img/counter-bg-sprite.png");
		background-repeat: no-repeat;
	    	background-position-x: 100% 0;
		z-index:3;
	}


	.indicator_counter_val{
		position:relative;
		display:inline-block;
		margin:15px 0 0 20px;
		color:#409acf;
	}
	.indicator_counter_percent{
		position:relative;
		display:inline-block;
		margin:15px 0 0 20px;
		color:#409acf;
	}


	.indicator_bar_bg{
		position:absolute;
		left:0;
		display:inline-block;
		width:0%;
		height:36px;
		background-color:#ebebeb;
		opacity: 1;
		margin:0px;
		padding:0px;
		z-index:1;	
	}

	.indicator_counter_val_max {
		display:none;
	}
}




