
/*

	Excerpts are smaller views of:

	Videos, Impact Stories, News content

 */
.excerpt {
	display: block;
	position: relative;
	text-align: center;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-decoration: none;

		

	.wrap16x9 {
		margin-bottom: 1em;
		// IMG + IMG {
		// 	display: none;
		// }
	}
	.content, .thumb {
		z-index: 1;
		position: relative;
	}

	.area, .date {
		@include franklin-gothic-hvy;
		font-size: 14px;
		color: $dkgray;
		display: none;
	}
	.date {
		color: $ltblue;
		text-transform: none;
		padding-bottom: 0.5em;
	}


	.headline {
		@include sentinal-book;
		color: $blue;
		font-size: 18px;

		@media (min-width: 768px){
			font-size: 20px;
		}
		@media (min-width: 992px){
			font-size: 22px;
		}
		@media (min-width: 1200px){
			font-size: 24px;
		}
	}

	P {
		color: $text;
		line-height: 1.3em;
		padding: 0.6em 0 0 0;
	}

	.cta {
		@include franklin-gothic-hvy;
		color: $gold;
		font-size: 14px;
		padding: 1em 0 0 0;
		text-decoration: underline;
	}

	&:hover, &:focus {
		text-decoration: none;
		// .content { &::after { opacity: 1; }}
	}


	/* Default video excerpt gets a icon over top */
	&.video {

		.wrap16x9 {
			&::before {
				font-family: icons;
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				color: #fff;
				z-index: 3;
				content: '\e80c';
				font-size: 60px;
				margin-top: -0.5em;
				line-height: 1em;
			}
		}
	}

	&.short {
		.cta, P { display: none; }
	}

	&.col2, &.featured {
		max-width: 540px;
		@include clearfix;

		@media (max-width: 767px){
			overflow: auto;
		}

		&:hover, &:focus {
			//&::after { content: none; }
			.headline {
				color: $gold;
			}
		}

		.thumb {
			float: left;
			width: 50%;

			.wrap16x9 {
				&::before { font-size: 48px; }
				margin: 0;

				@media (min-width: 768px){
					&::before { font-size: 38px; }
				}
				@media (min-width: 992px){
					&::before { font-size: 48px; }
				}
				@media (min-width: 1200){
					//&::before { font-size: 48px; }
				}
			}
		}
		.content {
			float: left;
			width: 50%;
			padding-left: 15px;
			text-align: left;
		}
		.area {
			display: block;
			font-size: 12px;

			@media (min-width: 992px){
				font-size: 14px;
			}
		}
		.headline {
			font-size: 16px;
			
			@media (min-width: 992px){
				font-size: 18px;
			}
			@media (min-width: 1200px){
				font-size: 22px;
			}
		}
		.cta, P {
			display: none;
		}
	}

	&.featured {
		max-width: 540px;

		@media (min-width: 768px){
			max-width: none;

			.thumb {
				float: none;
  				width: auto;

				.wrap16x9 {
					&::before { content: none; }

					// IMG { display: none;}
					// IMG + IMG {display: inline-block;}
				}
			}
			.content {
				position: absolute;
				float: none;
				left: 0;
				right: 0;
				top: 50%;
				text-align: center;
				width: auto;
				margin-top: -2em;
				margin-left: auto;
				margin-right: auto;
				color: #fff;
				font-size: 28px;
				width: 80%;
				padding: 0;

				@media (min-width: 992px){
					font-size: 34px;
				}
				@media (min-width: 1200px){
					font-size: 36px;
				}

				&::before {
					font-family: icons;
					display: block;
					content: '\e80c';
					font-size: 1.5em;
				}

				.area { display: none; }

				.headline {
					color: #fff;
	  				@include sentinal-book-it;
	  				text-transform: uppercase;
	  				font-size: inherit;
				}
			}

			&:hover, &:focus {

				.content {
					color: $blue;

					.headline {
						color: $blue;
					}
				}
			}
		}
	}
	&.news {
		P {
			display: none;
		}
		.date {
			display: block;
		}
		.headline {
			@media (min-width: 768px){
				font-size: 16px;
			}
			@media (min-width: 992px){
				font-size: 20px;
			}
			@media (min-width: 1200px){
				font-size: 22px;
			}
		}
	}

	&:not(.col2){
		&:not(.featured) {
			&::after {
				content: '';
				position: absolute;
				top: -10px; left: -10px; right: -10px; bottom: -10px;
				background-color: $ltgray;
				z-index: 0;
				opacity: 0;
				@include vendor-prefix(transition, all .4s ease-out);
			}

			&:hover, &:focus {
				&::after { opacity: 1; }
			}
		}
	}
}