FOOTER {
	padding-top: 40px;
	padding-bottom: 40px;

	@media (min-width: 768px){
		padding-top: 60px;
	}
	
	.row {
		> * {
			text-align: center;
			margin-bottom: 40px;

			@media (min-width: 768px){
				text-align: left;
				margin-bottom: 0;
			}

			&:first-child {
				A {
					IMG {
						@media (min-width: 768px){
							position: relative;
  							top: -10px;
						}
						@media (min-width: 992px){
							top: -14px;
						}
						@media (min-width: 1200px){
							top: -16px;
						}
					}
				}
			}

			.h5 {
				@media (min-width: 768px){
					//margin-top: 20px;
				}
			}

			P { 
				&:not(.social-links) {
					line-height: 1.4em;
				}
			}
		}
	}
}

.social-links {
	line-height: 34px;

	A {
		display: inline-block;
		font-size: 24px;
		color: #fff;
		background-color: $gold;
		text-decoration: none;

		&:hover, &:focus {
			//color: $gold;
			background-color: $ltblue;
			text-decoration: none;
		}

		& + A {
			margin-left: 10px;
		}
	}
}

.blue-bg {
	.social-links {
		A {
			color: $blue;
		}
	}
}