FORM {
	.form-group {
		margin-bottom: 24px;
	}

	.help-block {
		margin: 0;
		padding:0;
		line-height: 1.2em;
		padding-bottom: 0.75em;
	}

	.row {
		margin-top: 30px;
	}

	LABEL {
		@include franklin-gothic-hvy;
		font-size: 14px;
		color: $dkgray;
		text-transform: uppercase;

		> SPAN.req {
			color: #a94442;
		}

		&.radio-inline, &.checkbox-inline {
			@include franklin-gothic-book;
			font-size: 16px;
			text-transform: none;
		}
	}

	INPUT::-ms-clear {
		display: none;
	}
}