HEADER {
	background-color: $blue;
	position: relative;

	&::after {
		content: '';
		height: 2px;
		left: 15px;
		right: 15px;
		bottom: 0; /*BEN*/
		position: absolute;
		background-color: $ltgray;
	}


	@media (min-width: 768px){
		background-color: #fff;

		&::after {
			content: none;
			bottom: -2px; /*BEN*/
		}
	}

	#top-bar {
		padding-top: 8px;
		padding-bottom: 8px;
		
		.container-fluid {
			@media (min-width: 768px){
				position: relative;
				zoom: 1;
			}
		}

		A {
			> IMG {
				width: 130px;
				height: 34px;

				@media (min-width: 768px){
					width: 170px;
					height: 45px
				}
			}
		}

		.pull-right {
			A {
				font-size: 24px;
  				color: #fff;

  				@media (min-width: 768px){
  					display: none;
  				}

  				.glyphicon-search {
  					display: none;
  					font-size: 20px;
  				}
  				.icon-cancel {
  					display: inline-block;
  				}

  				&.collapsed {
  					.glyphicon-search {
	  					display: inline-block;
	  				}
	  				.icon-cancel {
	  					display: none;
	  				}
  				}
			}
		}
	}

	#logo-row {
		background-color: #fff;
		position: relative;


		A {
			display: inline-block;
			
			IMG {
				display: inline-block;
				max-width: 150px;
				margin: 15px 0;
				height: auto;

				@media (min-width: 768px){
					max-width: 280px;
					margin: 30px 0;
				}
			}
		}

		.container-fluid {
			> DIV:first-child {
				float: left;
				width: 160px;

				@media (min-width: 768px){
					text-align: center;
					float: none;
					width: auto;
				}
			}
			> DIV:last-child {
				@media (min-width: 768px){
					display: none;
				}

				A {
					font-size: 24px;
					margin-top: 16px;
					text-decoration: none;
					color: $blue;

					.icon-menu {
	  					display: none;
	  					font-size: 30px;
	  				}
	  				.icon-cancel {
	  					display: inline-block;
	  					font-size: 30px;
	  				}

	  				&.collapsed {
	  					.icon-menu {
		  					display: inline-block;
		  				}
		  				.icon-cancel {
		  					display: none;
		  				}
	  				}

	  				SPAN:first-child {
	  					@include franklin-gothic-hvy;
	  					font-size: 14px;
	  					display: inline-block;
	  					vertical-align: middle;
	  					line-height: 1em;
	  					margin-top: -7px;
	  				}
				}
			}
		}
	}
}