SECTION.jumbo {
	background-image: url(../img/how-to-help-jumbo.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: 50% 0%;

	@include table-display;
	text-align: center;

	@media (min-width: 768px){
		background-image: url(../img/how-to-help-jumbo-md.jpg);
	}
	@media (min-width: 992px){
		background-image: url(../img/how-to-help-jumbo-lg.jpg);
	}

	.content-box {
		width: 90%;
		max-width: 820px;
		margin: 40px auto;
		padding: 40px 20px;
		background-color: $blue;
		background-color: $transblue;
		position: relative;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			width: 75px;
			margin: auto;
			left: 0;
			right: 0;
			height: 12px;
			background-color: $gold;
		}
		&::after {
			top: auto;
			bottom: 0;
		}

		@media (min-width: 768px){
			margin: 60px auto;
			padding: 50px 25px;
		}
		@media (min-width: 992px){
			margin: 80px auto;
			padding: 60px 30px;
		}

		P {
			color: #fff;
			@include sentinal-book-it;
			line-height: 1.5em;
			font-size: 16px;

			@media (min-width: 1200px){
				font-size: 18px;
			}
		}
		.btn {
			color: #fff;
		}
	}

	&.home {
		background-image: none;
		background-position: 0 0;

		@media (min-width: 768px){
			background-image: url(../img/home-jumbo-md.jpg);
		}
		@media (min-width: 992px){
			background-image: url(../img/home-jumbo-lg.jpg);
		}

		.content-box {
			background-color: transparent;
			padding: 40px 15px;
			width: 100%;
			background-image: url(../img/home-jumbo.jpg);
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;

			&::before, &::after { content: none; }

			@media (min-width: 768px){
				background-image: none;
				padding: 0 0 ;
				width: 90%;
				margin-bottom: 0;
			}

			P {
				line-height: 1.3em;
				@media (min-width: 992px){
					font-size: 18px;
				}
				@media (min-width: 1200px){
					font-size: 20px;
				}
			}
		}

		.call-to-action {
			position: relative;
			text-align: left;
			background-color: $blue;
			background-color: $transblue;
			padding: 15px 15px 15px 156px;
			margin-bottom: 40px;
			overflow: hidden;

			@media (min-width: 768px){
				padding-left: 165px;
				margin-bottom: 60px;
				margin-top: 40px;
			}
			@media (min-width: 992px){
				padding-left: 188px;
				margin-bottom: 80px;
			}
			
			IMG {
				position: absolute;
				top: 0;
				height: 100%;
				width: auto;
				right: 100%;
				min-width: 168px;
				margin-right: -136px;

				@media (min-width: 768px){
					margin-right: -145px;
				}
				@media (min-width: 992px){
					margin-right: -168px;
				}
			}
			
			.headline {
				color: $gold;
				@include sentinal-book;
				font-size: 24px;
				padding-bottom: 0.5em;

				@media (min-width: 768px){
					font-size: 20px;
				}
				@media (min-width: 992px){
					font-size: 24px;
				}
			}

			A {
				@include franklin-gothic-hvy;
				line-height: 1.2em;
				display: inline-block;
			}

			P {
				color: #fff;
				line-height: 1.5em;
				padding-bottom: 1.0em;
			}
		}
	}

	&.areas {
		background-image: url(../img/areas-to-support-jumbo.jpg);

		@media (min-width: 768px){
			background-image: url(../img/areas-to-support-jumbo-md.jpg);
		}
		@media (min-width: 992px){
			background-image: url(../img/areas-to-support-jumbo-lg.jpg);
		}
	}
}