HEADER {
	NAV.navbar {
		background-color: transparent;
		border-radius: 0;
		border: 0 none;
		min-height: 0;
		margin-bottom: 0;

		@media (min-width: 768px){
			border-top: 2px solid $ltgray;
			border-bottom: 2px solid $ltgray;
			padding: 5px 0;
		}
		@media (min-width: 800px){
			padding: 7px 0;
		}
		@media (min-width: 992px){
			padding: 10px 0;
		}

		DIV.navbar-header {
			background-color: #fff;
			@media (min-width: 768px){
				display: none;
			}

			IMG {
				max-width: 170px;
				display: inline-block;
				height: auto;
			}
		}

		DIV.navbar-collapse {
			border-color: transparent;
			margin-bottom: 10px;

			@media (min-width: 768px){
				border-color: $ltgray;
				margin-bottom: 0;
			}

			UL.navbar-nav {
				@media (min-width: 768px){
					float: none;
  					text-align: center;
				}

				> LI {
					@media (min-width: 768px){
						float: none;
						display: inline-block;
					}

					> A {
						@include franklin-gothic-hvy;
						color: #fff;

						&:hover, &:focus {
							color: $ltblue;
						}
						@media (min-width: 768px){
							display: block;
							font-size: 13px;
							
							color: $blue;

							// &:hover, &:focus {
							// 	color: $ltblue;
							// }
						}
						@media (min-width: 800px){
							font-size: 14px;
						}
						@media (min-width: 992px){
							font-size: 18px;
						}

						&.btn {
							padding: 0.4em 0.85em;
							color: $ltblue;
							
							&:hover, &:focus {
								color: $blue;
								background-color: $gold;
							}
						}
					}

					&.active {
						> A {
							background-color: transparent;
  							color: $gold;
						}
					}
				}
			}
		}
	}
}