HEADER {

	.pull-right {
		

		
	}
}

#searchbox {
		
	// MOBILE ONLY //
	@media (max-width: 767px){
		background-color: $blue;
		//margin: 0 -15px;

		> DIV {
			padding: 10px;
		}
	}

	@media (min-width: 768px){
		position: absolute;
		right: 0;
		top: 4px;
		z-index: 2;
		max-width: 300px;
		display: block;
		width: 300px; /*BEN*/
		margin-right: 20px; /*BEN*/
	}

	FORM.gsc-search-box {
		margin: 0;
		padding: 0;

		TD.gsc-search-button {
			// position: relative;
			// &::before {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	height: 40px;
			// 	width: 40px;
			// 	display: inline-block;
			// 	text-align: center;
			// 	font-family: 'Glyphicons Halflings';
			// 	font-style: normal;
			// 	font-weight: 400;
  	// 			-webkit-font-smoothing: antialiased;	
  	// 			content: "\e003";		
			// }


			INPUT.gsc-search-button {
				background-color: transparent;
				display: inline-block;
				margin: 0;
				padding: 0;
				border: 0 none;

			}
		}

		DIV.gsc-input-box {
			border: 0 none;
			background-color: transparent;
			height: auto;

			TD {
				background-color: $mdblue;
			}
			INPUT.gsc-input {
				background-color: $mdblue !important;
				background-image: none !important;
				background-repeat: no-repeat;

				@include franklin-gothic-hvy;
				color: #fff;
				font-size: 16px;
				height: 32px !important;

				&:focus {
					background-image: none !important;
				}
			}
		}

		.gsst_a {
			padding-top: 9px;
		}
			
	}
}

#search-results {
	text-align: left;
	.gsc-selected-option-container {
		box-sizing: content-box;
	}

	.gs-snippet {
		font-size: 15px;
    		line-height: 1.3em;
	}

	.gsc-result {
		padding: 16px 0;

		.gs-title {
			@include franklin-gothic-hvy;
			color: $blue;

			B {
				color: $ltblue;
			}
		}

		.gsc-thumbnail-inside {
			padding: 0;
		}

		.gsc-url-top {
			padding: 0;
		}


	}

	.gsc-control-cse {
		.gsc-table-result {
			@include franklin-gothic-book;
		}
	}

	.gsc-results {
		.gsc-cursor-box {
			margin-top: 30px;

			.gsc-cursor-page {
				@include sentinal-book;
				color: $ltblue;
				font-size: 16px;
		    		margin-right: 0.3em;
    				padding: 0 0.5em;

		    		&.gsc-cursor-current-page {
		    			background-color: $ltgray;
		    		}
			}
		}
	}

}