BODY.single {

	SECTION.headline {

		H2 {
			@include sentinal-book;
			text-transform: none;
			font-size: 18px;
			color: $ltblue;
			padding-bottom: 30px;
			
			@media (min-width: 768px){
				font-size: 20px;
			}
			@media (min-width: 992px){
				font-size: 22px;
			}
			@media (min-width: 1200px){
				font-size: 24px;
			}
		}

		.dateline {
			color: $ltblue;
			@include franklin-gothic-hvy;

		}
	}

	SECTION.featured-image {
		.wrap16x9 {
			padding-bottom: 43%;
		}
	}

	SECTION.sharethis {
		margin-bottom: 0 !important;
		
		.container-fluid {
			.row {
				> DIV {
					//padding: 30px;
					//border-top: 2px solid $ltgray;
					text-align: right;
					height: 32px;
				}
			}
		}

	}
	


}