.video-gallery {
	padding-top: 20px;
  	padding-bottom: 40px;

  	@media (min-width: 768px){
  		padding-top: 30px;
	  	padding-bottom: 50px;
	  	@include table-display;
	}
	@media (min-width: 992px){
  		padding-top: 40px;
	  	padding-bottom: 60px;
	}

	.excerpt.video {
		@media (min-width: 768px){
			margin: 0;
		}
	}

	.vertical-carousel {
		@include clearfix;



		.window {
			@media (max-width: 767px){
				height: auto !important;
			}
			@media (min-width: 768px){
				overflow: hidden;

				.excerpt {

				}

			}
		}
		> DIV {
			&:first-child, &:last-child {
				display: none;

				@media (min-width: 768px){
					text-align: center;
					display: block;
					height: 30px;
					overflow: hidden;
					line-height: 30px;

					A[disabled] {
						color: $ltgray;
						pointer: default;
					}
				}
			}
			&:last-child {
				line-height: 50px;
			}
		}
	}
}

.modal-dialog {
	width: auto;
	max-width: 640px;

	.modal-content {
		box-shadow: none;
		border: 0 none;
		border-radius: 0;
		background-color: $ltblue;

		.modal-body {
			padding: 0;
		}
	}

	#videoClose {
		color: #fff;
		font-size: 24px;
		float: right;
		cursor: pointer;
	}
}











